body {
    padding: 1em;
    font-family: Verdana;
}

.courses {
    padding: 1em;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.course {
    color: blue;
    text-decoration: none;
    text-align: center;
    background-color: #f1f1f1;
    padding: 1.3em;
    margin: 1em 1em;
    border-radius: 1em;
    border: 0.1em solid #e1e1e1;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
}

.course:hover {
    box-shadow: 0 0 0.5em 0 rgba(255, 255, 255, 0.4);
    background-color: #c9c9c9;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}